.vscode
.venv
venv
docs
build
petalflow
run.txt
*.o
*.a
Numbers demo classifier structure.*
Numbers demo classifier structure_.*
test/example.c
repository-open-graph.xcf
repository-open-graph.png
test.*
